<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for StyleCop.Analyzers internal-only projects" Description="Code analysis rules for StyleCop.Analyzers internal-only projects." ToolsVersion="17.0">
  <Include Path="stylecop.analyzers.ruleset" Action="Default" />
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1000" Action="Hidden" />
    <Rule Id="SA1101" Action="Hidden" />
    <Rule Id="SA1117" Action="Hidden" />
    <Rule Id="SA1200" Action="Hidden" />
    <Rule Id="SA1201" Action="Hidden" />
    <Rule Id="SA1208" Action="Hidden" />
    <Rule Id="SA1305" Action="Hidden" />
    <Rule Id="SA1412" Action="Hidden" />
    <Rule Id="SA1413" Action="Hidden" />
    <Rule Id="SA1609" Action="Hidden" />
    <Rule Id="SA1623" Action="Hidden" />
    <Rule Id="SA1629" Action="Hidden" />
    <Rule Id="SA1639" Action="Hidden" />
    <Rule Id="SX1101" Action="Hidden" />
    <Rule Id="SX1309" Action="Hidden" />
    <Rule Id="SX1309S" Action="Hidden" />
  </Rules>
</RuleSet>